
<!-- Start What Is NextGen Database Section -->
<section>
	<div class="row align-items-center">
		<div class="col-md-6 order-md-2">
			<h2>Section Heading</h2>
			<p>Section Text</p>
		</div>
		<div class="col-md-6 order-md-1">
			<img src="https://dummyimage.com/400x400/000/fff" class="img-fluid" alt="" />
		</div>
	</div>
</section>
<!-- End What Is NextGen Database Section -->
