<!-- Start What Is NextGen Database Section -->
<section>
	<div class="home-target">
		<div class="container-fluid">
			<div class="container">

				<h2 class="home-target-title">Using the NextGen Database</h2>

				<!-- Grid of three boxes -->
				<div class="row">
					<div class="col-md-4">
						<div class="card h-100 text-center">
							<div class="card-body d-flex flex-column align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
									<path d="M 18.125 15.804 l -4.038 -4.037 c 0.675 -1.079 1.012 -2.308 1.01 -3.534 C 15.089 4.62 12.199 1.75 8.584 1.75 C 4.815 1.75 1.982 4.726 2 8.286 c 0.021 3.577 2.908 6.549 6.578 6.549 c 1.241 0 2.417 -0.347 3.44 -0.985 l 4.032 4.026 c 0.167 0.166 0.43 0.166 0.596 0 l 1.479 -1.478 C 18.292 16.234 18.292 15.968 18.125 15.804 M 8.578 13.99 c -3.198 0 -5.716 -2.593 -5.733 -5.71 c -0.017 -3.084 2.438 -5.686 5.74 -5.686 c 3.197 0 5.625 2.493 5.64 5.624 C 14.242 11.548 11.621 13.99 8.578 13.99 M 16.349 16.981 l -3.637 -3.635 c 0.131 -0.11 0.721 -0.695 0.876 -0.884 l 3.642 3.639 L 16.349 16.981 Z" ></path>
								</svg>

								<h3 class="card-title">Find a Researcher</h3>

								<p class="card-text">Nostrud tempor ea ex pariatur ipsum ipsum labore veniam enim. Sit sunt culpa consectetur nisi enim aute incididunt ad et culpa. Velit ipsum magna non ex irure ea.</p>

								<p class="mt-auto"><a href="#" class="btn btn-outline-accent">Search the database</a></p>

							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card h-100 text-center">
							<div class="card-body d-flex flex-column align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
									<path d="M 18.303 4.742 l -1.454 -1.455 c -0.171 -0.171 -0.475 -0.171 -0.646 0 l -3.061 3.064 H 2.019 c -0.251 0 -0.457 0.205 -0.457 0.456 v 9.578 c 0 0.251 0.206 0.456 0.457 0.456 h 13.683 c 0.252 0 0.457 -0.205 0.457 -0.456 V 7.533 l 2.144 -2.146 C 18.481 5.208 18.483 4.917 18.303 4.742 M 15.258 15.929 H 2.476 V 7.263 h 9.754 L 9.695 9.792 c -0.057 0.057 -0.101 0.13 -0.119 0.212 L 9.18 11.36 h -3.98 c -0.251 0 -0.457 0.205 -0.457 0.456 c 0 0.253 0.205 0.456 0.457 0.456 h 4.336 c 0.023 0 0.899 0.02 1.498 -0.127 c 0.312 -0.077 0.55 -0.137 0.55 -0.137 c 0.08 -0.018 0.155 -0.059 0.212 -0.118 l 3.463 -3.443 V 15.929 Z M 11.241 11.156 l -1.078 0.267 l 0.267 -1.076 l 6.097 -6.091 l 0.808 0.808 L 11.241 11.156 Z" ></path>
								</svg>

								<h3 class="card-title">Add your name</h3>

								<p class="card-text">Exercitation amet laborum Lorem dolore ex non aute in occaecat culpa eu. In ea exercitation mollit laborum voluptate magna sint consectetur elit do. Ullamco cillum fugiat velit dolore eiusmod fugiat esse eu officia pariatur dolore. Aliquip adipisicing incididunt magna excepteur quis cillum labore dolor duis.</p>

								<p class="mt-auto"><a href="#" class="btn btn-large btn-outline-accent">Create a profile</a></p>

								<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card h-100 text-center shadow-sm">
							<div class="card-body d-flex flex-column align-items-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
									<path d="M 15.396 2.292 H 4.604 c -0.212 0 -0.385 0.174 -0.385 0.386 v 14.646 c 0 0.212 0.173 0.385 0.385 0.385 h 10.792 c 0.211 0 0.385 -0.173 0.385 -0.385 V 2.677 C 15.781 2.465 15.607 2.292 15.396 2.292 M 15.01 16.938 H 4.99 v -2.698 h 1.609 c 0.156 0.449 0.586 0.771 1.089 0.771 c 0.638 0 1.156 -0.519 1.156 -1.156 s -0.519 -1.156 -1.156 -1.156 c -0.503 0 -0.933 0.321 -1.089 0.771 H 4.99 v -3.083 h 1.609 c 0.156 0.449 0.586 0.771 1.089 0.771 c 0.638 0 1.156 -0.518 1.156 -1.156 c 0 -0.638 -0.519 -1.156 -1.156 -1.156 c -0.503 0 -0.933 0.322 -1.089 0.771 H 4.99 V 6.531 h 1.609 C 6.755 6.98 7.185 7.302 7.688 7.302 c 0.638 0 1.156 -0.519 1.156 -1.156 c 0 -0.638 -0.519 -1.156 -1.156 -1.156 c -0.503 0 -0.933 0.322 -1.089 0.771 H 4.99 V 3.062 h 10.02 V 16.938 Z M 7.302 13.854 c 0 -0.212 0.173 -0.386 0.385 -0.386 s 0.385 0.174 0.385 0.386 s -0.173 0.385 -0.385 0.385 S 7.302 14.066 7.302 13.854 M 7.302 10 c 0 -0.212 0.173 -0.385 0.385 -0.385 S 8.073 9.788 8.073 10 s -0.173 0.385 -0.385 0.385 S 7.302 10.212 7.302 10 M 7.302 6.146 c 0 -0.212 0.173 -0.386 0.385 -0.386 s 0.385 0.174 0.385 0.386 S 7.899 6.531 7.688 6.531 S 7.302 6.358 7.302 6.146" ></path>
								</svg>

								<h3 class="card-title">Learn more</h3>

								<p class="card-text">Ipsum eiusmod ea culpa esse excepteur consequat fugiat et occaecat consequat ea nisi nisi occaecat. Esse duis velit sint cillum incididunt adipisicing commodo et. Et consequat exercitation proident aute nisi officia reprehenderit dolor. Exercitation voluptate velit quis dolor.</p>

								<p class="mt-auto"><a href="#" class="btn btn-large btn-outline-accent">About the database</a></p>

							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
</section>
<!-- End What Is NextGen Database Section -->
