<!-- Start Search Section -->
<div class="row justify-content-center">
	<div class="col-md-7">
		<div class="text-center">

			<h1 class="display-4 font-weight-normal">Punny hasdfasdfeadline</h1>
			<p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>

			<form>
				<div class="form-row">
						<div class="col-9">
							<input type="text" class="form-control form-control-lg" placeholder="First name">
						</div>
						<div class="col-3">
							<button type="submit" class="btn btn-lg btn-primary mb-2 btn-block">Search</button>
						</div>
					</div>
				</form>

		</div>
	</div>
</div>
<!-- End Search Section -->
