<!-- Start Search Section -->
<section>
	<div class="home-search">
		<div class="container-fluid">
			<div class="container">

				<div class="row">
					<div class="col-md-10">

						<h2 class="display-3 font-weight-normal"><%= t('home.search.heading') %></h2>

						<p class="lead font-weight-normal py-5"><%= t('home.search.blurb') %></p>


						<!-- TODO: Make the buttons block in small view -->
						<form>
							<div class="form-row align-items-center">
								<div class="col-6">
									<input type="text" class="form-control form-control-lg" placeholder="<%= t('home.search.placeholder') %>">
								</div>

								<div class="col-3 my-1">
								<!--<label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>-->
								<select class="custom-select custom-select-lg form-control mr-sm-2" id="inlineFormCustomSelect">
									<option selected>All SDGs...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
								</div>
								<div class="col-3">
									<button type="submit" class="btn btn-lg btn-success mb-2 btn-block">Search</button>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Search Section -->
