
<!-- Start What Is NextGen Database Section -->
<section>
	<div class="row align-items-center py-5">

		<div class="col-md-6">
			<div class="bg-dark">
				Hello
			</div>
		</div>

		<div class="col-md-6">
			<div class="bg-primary">
				Hello
			</div>
		</div>

		<div class="col-12">
			<div class="bg-secondary">
				Hello
			</div>
		</div>

	</div>
</section>
<!-- End What Is NextGen Database Section -->
