<%#
	Check if the profile exists or not
#%>
<% if !@profile.nil? %>

	<%= render 'profile_display' %>

<% else %>

	<%#
		Render the error page
	#%>

	<h1 name="cont" id="cont">Whoops! Something went wrong</h1>

	<p>No profile exists</p>

<% end %>


