<%= render "admin/dashboard/nav" %>

<h1 id="cont" name="cont">Content Management</h1>


	<ul class="list-group mb-5">
		<li class="list-group-item">
			<%= link_to admin_content_about_index_path() do %>
				<div class="list-group-title">
					About Page Content
				</div>
			<% end %>
		</li>
    </ul>

    
    
   

 
