<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>



<section>
	<h2>Controlled Vocabulary</h2>

	<ul>
		<li><%= link_to 'Sectors', admin_sectors_path() %></li>
		<li><%= link_to 'Demographics', admin_demographics_path() %></li>
		<li><%= link_to 'Development Actors', admin_development_actors_path() %></li>
	</ul>

</section>


