
		<!--
			TO DO:
			Add translations!
		-->

		<!-- Start Accessibility Section -->
		<div class="global-accessibility">
			<nav>
				<ul>
					<li><a href="#wb-cont">Skip to main content</a></li>
					<li><a href="#wb-info">Skip to &#34;page footer&#34;</a></li>
				</ul>
			</nav>
		</div>
		<!-- End Accessibility Section -->
