
		<!--
			TO DO:
			Add translations!
		-->

		<!-- Start Accessibility Section -->
		<div class="global-accessibility">
			<nav>
				<ul>
					<li><a href="#cont"><%= t('skipnav.main') %></a></li>
					<li><a href="#info"><%= t('skipnav.footer') %></a></li>
				</ul>
			</nav>
		</div>
		<!-- End Accessibility Section -->
