
		<!-- Start Accessibility Section -->
		<div class="global-accessibility">
			<nav>
				<ul id="wb-tphp">
					<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
					<li class="wb-slc"><a class="wb-sl" href="#wb-info">Skip to &#34;About government&#34;</a></li>
				</ul>
			</nav>
		</div>
		<!-- End Accessibility Section -->
