
		<!--
			TO DO
			Finish Footer Section

		-->

		<!--
		<footer class=" wb-navcurr-inited" id="wb-info">
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk">
							<h2 class="wb-inv">About this Web application</h2>
							<ul>
								<li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li><li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span>
							</a>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 text-right">
							<img alt="Symbol of the Government of Canada" src="../../../../gcweb/v4_0_30/assets/wmms-blk.svg">
						</div>
					</div>
				</div>
			</div>
		</footer>
		-->


		<!-- Start Footer Section -->
		<div class="global-footer">
			<footer>
				<div class="container">

					<div class="row align-items-center">

						<div class="col-md-10">

							<h2><%= t('footer.heading') %></h2>
							<ul class="nav flex-column flex-md-row">
								<li class="nav-item">
									<a class="nav-link" href="#">About the database</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Terms and conditions</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Privacy</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2">
							<img src="https://dummyimage.com/50x50/000/fff" width="50" height="50" class="float-right" alt="">
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- End Footer Section -->

			<!-- language toggle
				<div class="container">
					<h2 class="sr-only"><%= t('header.lang-selection') %></h2>
						<div class="row text-right">
							<div class="col-md-12">
								<ul class="list-inline">
									<li class="list-inline-item">
										<% if I18n.locale == I18n.default_locale %>
											<%= link_to "Français", { :locale=>'fr' } %>
										<% else %>
											<%= link_to "English", { :locale=>'en' } %>
										<%end%>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section> -->
