
		<!--
			TO DO
			Finish Footer Section

		-->


		<!-- Start Footer Section -->
		<div class="global-footer">
			<footer>

				<h2><%= t('footer.heading') %></h2>

				<div class="footer-nav">
					<div class="container">
						<nav>

							<ul>
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 1</a></li>
							</ul>

						</nav>
					</div>
				</div>

				<div class="footer-brand">
					<div class="container">

						<p>Hello</p>

					</div>
				</div>

			</footer>
		</div>
		<!-- End Footer Section -->

