<!--
	TO DO
	Add document structure
	Add custom navigation system
-->
		<!-- Start Global Header section -->
		<div class="global-header">
			<header role="banner">

				<!-- NavBar with Brand Logo, Brand Text and Sign In and Register Buttons -->
				<nav class="navbar navbar-light">
					<div class="container">
						<a class="navbar-brand" href="#">
							<img src="https://dummyimage.com/30x30/000/fff" width="30" height="30" class="d-inline-block align-top" alt="" />
							<%= t('application.title') %>
						</a>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a class="btn btn-primary" href="#" role="button">Register</a>
							</li>
							<li class="list-inline-item">
								<a class="btn btn-primary" href="#" role="button">Sign in</a>
							</li>
							<% if user_signed_in? %>
						<li>
						<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
						</li>
						<% else %>
						<li>
						<%= link_to('Login', new_user_session_path)  %>
						</li>
						<% end %>
						</ul>

					</div>
				</nav>

			</header>
		</div>
		<!-- End Global Header section -->
