<!--
	TO DO
	Add document structure
	Add custom navigation system
-->
		<!-- Start Global Header section -->
		<div class="global-header">
			<header role="banner">

				<!-- NavBar with Brand Logo, Brand Text and Sign In and Register Buttons -->
				<nav class="navbar navbar-light">
					<div class="container">
						<a class="navbar-brand" href="#">
							<img src="https://dummyimage.com/30x30/000/fff" width="30" height="30" class="d-inline-block align-top" alt="" />
							<%= t('application.title') %>
						</a>
						<ul class="list-inline">
							<%#
								If the user is signed in then show the logout button
								If the user is not signed in then show the Register and the login button
							%>
							<% if user_signed_in? %>
							<%#
								TO DO: Add a button to the my profile page (when it's created)
							%>
							<li class="list-inline-item">
								<%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>"btn btn-primary" ) %>
							</li>
							<% else %>
							<li class="list-inline-item">
								<%= link_to('Sign in', new_user_session_path, :class=>"btn btn-outline-primary")  %>
							</li>
							<li class="list-inline-item">
								<%= link_to('Register', new_user_registration_path, :class=>"btn btn-primary" ) %>
							</li>
							<% end %>
						</ul>

					</div>
				</nav>

			</header>
		</div>
		<!-- End Global Header section -->
