<!--
	TO DO
	Add document structure
	Add custom navigation system
-->

		<div class="global-header">
			<header role="banner">

				<%= render 'partials/language-toggle' %>

				<%= render 'partials/navigation-bar' %>

			</header>
		</div>
