<h1 name="cont" id="cont">Edit Demographic <span class="text-secondary">(<%= @demographic.english %>)</span></h1>

<div class="bg-white p-4 mt-3 mb-5" style="border-radius: 15px">

    <%= render "admin/demographics/form" %>

<div>