/*
	NEXTGEN DATABASE
  	@title: Global Placeholders and Global Variables
 */

// Variables


// Global textual link colours
$link-color: #295376 !default;
$link-hover-color: #0535d2 !default;
$link-visited-color: #7834bc !default;


// Global Background colours
$content-bg: null !default;
$main-bg: null !default;


// Accessibility Skip Nav
$ga-sn-background-color: black;
$ga-sn-color: green;
$ga-sn-focus: white;
