/*
	NEXTGEN DATABASE
  	@title: Mixins for NextGen Database Project
 */

// White Card Mixin
@mixin card-style-1 {
	//border: 1px solid $gray-accent-3-color;
	background-color: #fff;
	border-radius: 15px;
	padding: 20px 20px 20px 20px;
	margin: 20px 0px 20px 0px;
}

// Box Shadow
@mixin box-shadow-style-1 {
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}



// Accessibility Mixins
@mixin accessible-invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@mixin accessible-invisible-show {
	clip: rect(auto, auto, auto, auto);
	height: inherit;
	margin: inherit;
	overflow: inherit;
	position: static;
	width: inherit;
}

@mixin accessible-focusable {
	&:active,
	&:focus {
		position: static;
	  	width: auto;
	  	height: auto;
	  	overflow: visible;
	  	clip: auto;
	  	white-space: normal;
	}
}
