/*
	NEXTGEN DATABASE
  	@title: Accessibility Additions to NextGen Database Project
 */


// Skip Navigation

.global-accessibility  {

	background: green;

	nav {
		background: blue;

		ul {
			list-style-type: none;
			left: 0;
			position: absolute;
			text-align: center;
			top: 10px;
			width: 100%;
			z-index: 3;

			li {
				a {
					@include accessible-invisible;
					background-color: $ga-sn-background-color;
					color: $ga-sn-color;
					font-weight: 700;
					padding: 1em;

					&:focus {
						color: $ga-sn-focus;
						@include accessible-invisible-show;

					}

				}

			}

		}

	}

}



