/*
	NEXTGEN DATABASE
  	@title: Footer Styles for NextGen Database Project
 */


.global-footer {


	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	//border-top: 2px solid $primary-color;
	//padding: 25px 0px 25px 0px;

	background-color: $gray-accent-2-color;

	border-top-style: solid;
	border-top-color: $gray-accent-3-color;
	border-top-width: 1px;

	h2 {
		@include accessible-invisible;
	}



	.footer-nav {
		background-color: $footer-nav-bg;
		padding: 3rem 0px 3rem 0px;

	}

	.footer-brand {
		background-color: $footer-brand-bg;
		padding: 1rem 0px 1rem 0px;

		h2 {
			@include accessible-invisible;
		}

	}

	.gf-nav {
		margin: 0px 0px 0px 0px;
		padding: 35px 0px 35px 0px;

		// This is a copy of .ng-navbar-brand
		.gf-nav-brand {
			font-size: 1em;
			margin: 0px;
			padding: 0px;
			text-decoration: none !important;
			color: $primary-color !important;
			border-bottom: none !important;
			//color: darken($primary-color, 10%);
			font-weight: bold;
		}

		.gf-links-list {
			list-style-type: none;
			margin: 15px 0px 0px 0px;
			padding: 0px;

			li {
				padding: 7px 0px 7px 0px;

				a {
					text-decoration: none;
					color: $primary-color;
					transition: $btn-transition;

					&:hover {
						color: darken($primary-color, 15%);
						text-decoration: underline;

					}

				}



			}

		}

	}

	.gf-copyright {
		margin: 0px 0px 0px 0px;
		padding: 2rem 0px 2rem 0px;
		background-color: darken($primary-color, 10%);
		color: #fff;

		// Remove the margin on the paragraph to
		//  vertically centre the copyright notice
		p {
			margin: 0px;
		}
	}


	// sm only
	@media screen and (max-width: $break-md) {

		// Adjust padding in small view
		.gf-copyright {
			padding: 3rem 0px 3rem 0px;
		}

	}

}
