/*
	NEXTGEN DATABASE
  	@title: Footer Styles for NextGen Database Project
 */


.global-footer {
	background-color: $footer-bg;
	margin: 0px 0px 0px 0px;

	.footer-nav {
		background-color: $footer-nav-bg;
		padding: 3rem 0px 3rem 0px;

		h2 {
			@include accessible-invisible;
		}

	}

	.footer-brand {
		background-color: $footer-brand-bg;
		padding: 1rem 0px 1rem 0px;

		h2 {
			@include accessible-invisible;
		}

	}

}
