/*
	NEXTGEN DATABASE
  	@title: Header Styles for NextGen Database Project
 */


.global-header {

	header {
		background-color: #fff;
		border-bottom-style: solid;

		border-bottom-color: $gh-header-border-color;
		border-bottom-width: $gh-header-border-width;
	}



}
