/*
	NEXTGEN DATABASE
  	@title: Home Page Styles for NextGen Database Project
 */

$home-section-padding: 125px 0px 125px 0px;
$home-section-bg: $main-bg;

.home-search {

	//background-color: #fff;
	background-color:lighten(#9baebc, 20%);

	padding: $home-section-padding;

	h2 {
		//color: $primary-color;
		color: #0B425A;
	}
}


.home-target {

//	background-color: $home-section-bg;
	background-color: lighten($accent-color, 45%);
	padding: $home-section-padding;

	.home-target-title {
		padding: 0px 0px 100px 0px;
		text-align: center;
		font-size: 3.5em;
		color: darken($accent-color, 13%);
    }

    .card {
		box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
		transition: 0.1s ease-in;

		svg {
			width: 100px;
			padding-top: 25px;
			height: auto;

			path {
				fill: $accent-color;
			}
		}


		.card-title {
			padding-top: 25px;
		}

		.card-text {
			padding-top: 25px;
		}



		&:hover {
			transition: 0.1s ease-in;
			box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
		}
    }



}



.home-partners {

	background-color: lighten($secondary-color, 30%);
	padding: $home-section-padding


}


.home-sdg-nav {

	background-color: darken($primary-color, 20%);
	padding: $home-section-padding

}
