/*
	NEXTGEN DATABASE
  	@title: Home Page Styles for NextGen Database Project
 */

$home-section-padding: 125px 0px 125px 0px;
$home-section-bg: $main-bg;

.home-search {

	//background-color: #fff;
	background-color:lighten(#9baebc, 20%);

	padding: $home-section-padding;

	h2 {
		//color: $primary-color;
		color: #0B425A;
	}
}


.home-target {

//	background-color: $home-section-bg;
	background-color: lighten($accent-color, 45%);
	padding: $home-section-padding;

	.home-target-title {
		padding: 0px 0px 100px 0px;
		text-align: center;
		font-size: 3em;
		color: darken($accent-color, 10%);
	}


	svg {
		width: 100px;
		height: auto;


		path {
			fill: $accent-color;
		}
	}

}



.home-partners {

	background-color: lighten($secondary-color, 30%);
	padding: $home-section-padding


}


.home-sdg-nav {

	background-color: darken($primary-color, 20%);
	padding: $home-section-padding

}
