/*
	NEXTGEN DATABASE
  	@title: Global Main Container Styles for NextGen Database Project
 */

body {

	line-height: 1.9;

	p {
		margin-top: 0em;
  		margin-bottom: 2.0em;
	}

}



.home {

	.global-main {
		background-color: $main-home-bg;
		margin: 0px;
	}
}

.page {

	.global-main {
		background-color: $main-content-bg;
		margin: 0px;
		padding: $main-section-padding;
	}

	h1, h2, h3, h4, h5, h6 {
		//	@include default-alternative-font-family;
		padding-bottom: 10px;
	}


	h1 {
		color: #323737 !important;
		font-weight: 700;
		border-bottom: 1px solid $gray-accent-3-color !important;
	}

	h2, h3, h4, h5 ,h6 {
		color: #424949 !important;
		font-weight: 600;
	}

}

.card-style-1 {
	@include card-style-1;
}
