// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-search-box {

	//border: 1px solid darken($main-content-bg, 10%);
	//background-color: #fff;
	padding: 25px;
}

.profile-list-container {

	background-color: #fff;

	// List of profile results
	ul.profile-cards-list {

		list-style: none;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		li.profile-card {

			padding: 25px 0px 25px 0px;
			border-bottom: 1px solid lighten($secondary-color, 20%);

			.profile-card-title {
				color: $accent-color;
				font-weight: 600;
			}

			.profile-card-subtitle {
				font-size: 1.2rem;
				color: lighten($dark-grey, 35%);
				font-weight: 600;
				margin: 0px 0px 0px 0px;
			}

			.profile-card-contact-info {

				ul {

					li {

						padding: 10px 5px 15px 10px;

						a {

							font-size: 0.9rem;
							text-decoration: none;
							color: lighten(grey, 10%);
							background-color: $main-content-bg;
							border-radius: 10px;
							padding: 5px 15px 5px 15px;

							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							svg path{
								fill: lighten(grey, 10%);
							}
						}

						&:first-child {
							padding-left: 0px;
						}

						// md and below
						@media screen and (max-width: $break-lg) {

							padding: 5px 5px 5px 0px;

						}

					}




				}

			}

			.profile-card-research-info {

				ul {

					//background-color: black;

					li {

						color: lighten( $dark-grey, 15%);

						&:after {
							content: ",";
						}

						&:last-child:after {
							content: "";
						}
					}

				}

			}

			// Remove the bottom border on the last li entry
			&:last-child {

				border-bottom: none;

			}

			// md and below
			@media screen and (max-width: $break-lg) {

				padding: 30px 5px 30px 0px;
				//background: black;

			}
		}
	}
}

.profile-list-navigation-container {

	padding: 10px 10px 10px 10px;
	margin: 50px 0px 0px 0px;
	display: flex;
	justify-content: center;

	li.page-item {

		&.active a.page-link	{
			background-color: $primary-color;
			border-color: $primary-color;
		}

		a {
			text-decoration: none;
			color: $primary-color;
		}
	}



}
