// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-search-box {

	//border: 1px solid darken($main-content-bg, 10%);
	//background-color: #fff;
	padding: 25px;
}

.profile-list-container {

	//background-color: #fff;

	// List of profile results
	ul.profile-cards-list {

		list-style: none;
		margin: 50px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		li.profile-card {

			padding: 40px 0px 40px 0px;
			border-top: 1px solid rgba(0, 0, 0, 0.4);

			.profile-card-title {
				font-size: 2.7rem;
				color: $dark-grey;
				font-weight: 600;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}

			.profile-card-subtitle {
				font-size: 1.6rem;
				color: $gray-accent-6-color;
				font-weight: 500;
				margin: 0px 0px 0px 0px;
				padding-top: 0px;
			}

			.profile-card-contact-info {

				display: none;

				ul {

					li {

						padding: 10px 5px 15px 10px;

						a {

							font-size: 0.9rem;
							text-decoration: none;
							color: lighten(grey, 10%);
							background-color: $main-content-bg;
							border-radius: 10px;
							padding: 5px 15px 5px 15px;

							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							svg path{
								fill: lighten(grey, 10%);
							}
						}

						&:first-child {
							padding-left: 0px;
						}

						// md and below
						@media screen and (max-width: $break-lg) {

							padding: 5px 5px 5px 0px;

						}

					}




				}

			}

			.profile-card-research-info {

				/*
				ul {

					//background-color: black;

					li {

						color: lighten( $dark-grey, 15%);

						&:after {
							content: ",";
						}

						&:last-child:after {
							content: "";
						}
					}

				}*/

				dl {

					dt {
						margin-top: 15px;
						color: $gray-accent-7-color;
						font-weight: 700 !important;
					}

					dd {

						padding: 0px 15px 0px 15px;

						ul {

							li {
								color: $gray-accent-8-color;
								font-size: 0.8rem;
								background-color: $gray-accent-1-color;
								//border: 1px solid $accent-light-color;
								border: 1px solid $gray-accent-4-color;
								border-radius: 10px;
								padding: 5px 15px 5px 15px;
								margin: 5px 0px 5px 0px;
							}
						}

					}
				}


			}

			//.profile-card-actions {
			//
			//
			//}

			// Add the bottom border on the last li entry
			&:last-child {

				border-bottom: 1px solid rgba(0, 0, 0, 0.4);

			}

			// md and below
			@media screen and (max-width: $break-lg) {

				padding: 30px 5px 30px 0px;
				//background: black;

			}
		}
	}
}

// Bootrap Pagination Overides
.profile-list-navigation-container {

	padding: 10px 10px 10px 10px;
	margin: 50px 0px 0px 0px;
	display: flex;
	justify-content: center;

	li.page-item {

		a.page-link {
			background-color: $gray-accent-2-color;
			color: $gray-accent-7-color;
		}

		a.page-link:hover {

			background-color: $gray-accent-4-color;
			color: $gray-accent-8-color;
		}


		&.active a.page-link	{
			background-color: $accent-color;
			border-color: $accent-color;
			color: #fff;
		}

		a {
			text-decoration: none;
			color: $primary-color;
		}
	}
}

.profile-list-count-container {
	margin: 25px 0px 25px 0px;
	//color:  $primary-color;

	.results-count {
		color:  $accent-color;
	}
}
