<h1 name="cont" id="cont">Edit Position Title <span class="text-secondary">(<%= @title.english %>)</span></h1>

<div class="bg-white p-4 mt-3 mb-5" style="border-radius: 15px">

    <%= render "admin/titles/form" %>

</div>