<h1><%= t('account.index.heading') %></h1>

<nav class="nav flex-column">
	<a class="nav-link active" href="#">Profile Informaton</a>
	<a class="nav-link" href="#">Account Settings</a>
	<a class="nav-link" href="#">Delete Account</a>
</nav>

<section>
	<h2>Profile Information</h2>

	<%#
	  # If the user has a profile then display some
	  # profile information with an edit button
	  #
	  # If the user doesn't have a profile show links
	  # to create a new profile or drop down to claim
	  # a profile and a submit button
	  #
	  # If a profile is in the process of being claimed
	  # then show that and the status of the claim
	  #
	  #%>


</section>


<section>
	<h2>Account Settings</h2>

	<%= @user %>

</section>

<section>
	<h2>Delete Account</h2>

</section>
