<h1><%= t('account.show.heading') %></h1>

<section>
	<h2>Account Information</h2>



	<dl class="row">
		<dt class="col-sm-3">Account Email:</dt>
		<dd class="col-sm-9"><%= @user.email %></dd>
	</dl>

</section>


<section>
	<h2>Profile Information</h2>

	<%#
	  # If the user has a profile then display some
	  # profile information with an edit button
	  #
	  # If the user doesn't have a profile show links
	  # to create a new profile or drop down to claim
	  # a profile and a submit button
	  #
	  # If a profile is in the process of being claimed
	  # then show that and the status of the claim
	  #
	  #%>






</section>

<section>
	<h2 class="sr-only">Edit Account</h2>

	<%= link_to "Edit Account", edit_account_path, :class => "btn btn-large btn-primary" %>

</section>

<section>


</section>
